@model LogKyrcach.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>

<div>
    <h4>Кабинет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>


<h1>Рабочие места</h1>

<p>
    <a asp-action="Create">Создать новое</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workplaces.FirstOrDefault().Number)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Workplaces.FirstOrDefault().IdComputerNavigation.Inv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplaces.FirstOrDefault().IdMonitorNavigation.Inv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workplaces)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdComputerNavigation.Inv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMonitorNavigation.Inv)
                </td>               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Installedsoftwares" asp-action="Details" asp-route-id="@item.IdComputerNavigation.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>